@charset "UTF-8";
/*------------------------------공통------------------------------*/
a, li{color: black; text-decoration: none; font-size: 16px; line-height: 1.4em;}
ul{list-style: none;}
*{margin: 0; padding: 0; font-size: 0; line-height: 0; box-sizing: border-box;}
.wrap{width: 100%; height: 100vh; position: relative;}
.center{display: flex; justify-content: center; align-items: center;}
.middle{position: absolute;}
.LR{width: 1000px; left: 50%; transform: translateX(-50%);}
.UD{top: 50%; transform: translateY(-50%);}
.ALL{width: 1000px; height: 100%; left: 50%; top: 50%; transform: translate(-50%, -50%);}

/*------------------------------header------------------------------*/
.wrap .header{height: 10%; width: 100%; background-color: #fff; position: fixed; top: 0; z-index: 1;}
.wrap .header .headerMenu{width: 1000px; height: 100%;}
.wrap .header .headerMenu .headerLeft{height: 100%; width: 50%; float: left; position: relative;}
.wrap .header .headerMenu .headerLeft #logo{height: 80%;}
.wrap .header .headerMenu .headerLeft #logo img{max-height: 100%;}

.wrap .header .headerMenu .headerRight{display: flex; align-items: center; justify-content: flex-end; height: 100%;}
.wrap .header .headerMenu .headerRight #guest,
.wrap .header .headerMenu .headerRight #user{
	height: 100%; display: flex; align-items: center; padding-right: 20px;
}
.wrap .header .headerMenu .headerRight #guest ul, .wrap .header .headerMenu .headerRight #user ul{
	display: flex; gap: 10px;
}
.wrap .header .headerMenu .headerRight #guest ul li, .wrap .header .headerMenu .headerRight #user ul li{
	float: none;
}

/*------------------------------footer------------------------------*/
.wrap .footer{height: 10%; width: 100%; background-color: #fff; position: fixed; bottom: 0; z-index: 1;}

